.btn {
  @apply bg-primary px-5 py-3;
  color: #fff;
  text-decoration: none;
  display: inline-block;

  &--orange {
    @apply bg-accent;
  }

  &--large {
    padding: 1.1rem 1.9rem;

    @media (min-width: 530px) {
      font-size: 1.25rem;
    }
  }
}
