@tailwind base;
@tailwind components;
@tailwind utilities;
@import "normalize.css";

@import "./modules/btn.css";
/* @import "./modules/feature-item.css"; */
@import "./modules/section.css";
@import "./modules/wapper.css";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  @apply text-accent no-underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-base font-normal m-0;
}

p {
  line-height: 1.65 !important;
}
